@use '@/shared/styles/widthDevices.scss' as *;

.favotite-button {
	position: absolute;
	top: 10px;
	right: 50%;
	width: 30px;
	height: 30px;
	cursor: pointer;
	transform: translateX(50%) scale(1);
	transition: transform 0.2s ease;
	color: var(--color-bg-dark);

	&:hover {
		transform: translateX(50%) scale(1.1);
	}

	&.active {
		color: var(--color-accent2);
	}

	@media (max-width: $screen-xs) {
		width: 20px;
		height: 20px;
	}
}
