@use '@/shared/styles/widthDevices.scss' as *;
@use '@/shared/styles/mixin.scss' as *;

.flight {
	&__item {
		padding: 3px;
		border-radius: 12px;
		background-color: transparent;
		position: relative;
		z-index: 1;

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			border-radius: 12px;
			background: linear-gradient(90deg, #e44948 0%, #fba316 100%);
			opacity: 0;
			transition: opacity 0.3s ease;
			z-index: -1;
		}

		&.active::before {
			opacity: 1;
		}
	}
	&__btn {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 20px;
		border-radius: 12px;
		padding: 20px;
		background-color: var(--color-bg);
		border: none;
		outline: none;
		transition: background 0.3s ease-in;
		cursor: pointer;
		height: 200px;
		@include flightItemWidth;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}

	&__logo {
		margin-right: 10px;
		width: 44px;
		height: 44px;
		object-fit: cover;
		border-radius: 50%;
		background: center/cover #fff;

		&-block {
			display: flex;
			align-items: center;
		}
	}

	&__code {
		font-size: 1.25rem;
		color: var(--color-text);
	}

	&__reg {
		padding: 5px 8px 3px 8px;
		margin: 0;
		background-color: var(--color-gray);
		color: var(--color-text);
		border-radius: 12px;
		font-size: 1rem;

		&-block {
			display: flex;
			align-items: center;
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__from,
	&__city {
		display: flex;
		flex-direction: column;
		width: 90px;

		@media (max-width: $screen-sm) {
			width: 80px;
		}

		@media (max-width: $screen-xs) {
			width: 70px;
		}
	}

	&__city {
		font-size: 1rem;
		color: var(--color-text);
		text-align: left;

		&--right {
			text-align: right;
		}
	}

	&__iata {
		font-size: 2rem;
		text-transform: uppercase;
		color: var(--color-text);
		text-align: left;
		&--right {
			text-align: right;
		}
	}

	&__progress {
		position: relative;
		height: 4px;
		background: linear-gradient(90deg, #e44948 0%, #fba316 100%);
		border-radius: 4px 0 0 4px;
		transition: width 0.3s;
		&-bar {
			width: 90%;
			margin-top: 10px;
		}
		&-bg {
			display: flex;
			align-items: center;
			height: 20px;
			position: relative;
		}
		&-rest {
			height: 4px;
			background: var(--color-gray);
			border-radius: 0 4px 4px 0;
			transition: width 0.3s;
		}
	}

	&__plane {
		position: absolute;
		width: 24px;
		height: 22.5px;
		top: -1px;
		transform: translateX(-100%);
		transition: left 0.3s;

		@media (max-width: $screen-xxs) {
			width: 22px;
			height: 20.625px;
			top: 0px;
		}
	}
}
