@use '@/shared/styles/widthDevices.scss' as *;

@mixin flightItemWidth {
	width: 480px;

	@media (max-width: $screen-sm) {
		width: 360px;
	}
	@media (max-width: $screen-xs) {
		width: 300px;
	}
	@media (max-width: $screen-xxs) {
		width: 290px;
	}
}

@mixin flightDetailWidth {
	width: 520px;

	@media (max-width: $screen-sm) {
		width: 460px;
	}
	@media (max-width: $screen-xs) {
		width: 380px;
	}
	@media (max-width: $screen-xxs) {
		width: 300px;
	}
}
