$screen-xxl: 1536px; // большие 4K мониторы
$screen-xl: 1280px; // большие десктопы
$screen-lg: 1024px; // ноутбуки, стандартные десктопы
$screen-md: 768px; // планшеты (альбомная)
$screen-sm: 640px; // крупные смартфоны, планшеты (портрет)
$screen-xs: 480px; // обычные смартфоны
$screen-xxs: 360px; // маленькие смартфоны
