@use "@/shared/styles/widthDevices.scss" as *;

.flight-detail {
  position: fixed;
  top: 52px;
  right: 0;
  width: 520px;
  height: 92vh;
  border-radius: 16px;
  background: var(--color-bg, #fefefe);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 50;
  @media (max-width: $screen-lg) {
    transition-duration: 1.5s;
  }

  @media (max-width: $screen-sm) {
    width: 460px;
  }
  @media (max-width: $screen-xs) {
    width: 380px;
  }
  @media (max-width: $screen-xxs) {
    width: 300px;
  }

  &--hidden {
    transform: translateX(100%);

    @media (max-width: $screen-lg) {
      right: 50%;
      transform: translateX(200%);
    }
  }
  &--visible {
    transform: translateX(-40px);

    @media (max-width: $screen-xl) {
      transform: translateX(-15px);
    }

    @media (max-width: $screen-lg) {
      right: 50%;
      transform: translateX(50%);
    }
  }
  &__header {
    width: 100%;
    padding: 20px;
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    &-inner {
      width: 100%;
      padding: 10px 20px;
      background: var(--color-bg, #fefefe);
      border-radius: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-airline-code {
      color: var(--color-accent2);
      font-size: 1.8rem;
      font-weight: bold;

      @media (max-width: $screen-xs) {
        font-size: 1.5rem;
      }

      @media (max-width: $screen-xxs) {
        font-size: 1.2rem;
      }
    }
    &-airline-name {
      color: var(--color-text, #2c2c2c);
      font-size: 1.2rem;
      @media (max-width: $screen-xs) {
        font-size: 1rem;
      }
      @media (max-width: $screen-xs) {
        font-size: 0.95rem;
      }
    }
    &-close-btn {
      width: 40px;
      height: 40px;
      background: #444;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: none;
    }
    &-airplane-img {
      width: 90%;
      margin: 0 auto;
      display: block;
    }
  }
  &__main {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__route {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    &-locations {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
    &-location {
      width: 49.5%;
      min-height: 40px;
      border-radius: 24px 0 0 0;
      background: var(--color-gray);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &--to {
        border-radius: 0 24px 0 0;
      }
    }
    &-code {
      font-size: 2.5rem;
      color: var(--color-text, #2c2c2c);

      @media (max-width: $screen-xs) {
        font-size: 2rem;
      }

      @media (max-width: $screen-xxs) {
        font-size: 1.5rem;
      }
    }
    &-city {
      font-size: 1.25rem;
      color: var(--color-text, #2c2c2c);

      @media (max-width: $screen-xxs) {
        font-size: 1rem;
      }
    }
    &-timezone {
      font-size: 1rem;
      color: #888;

      @media (max-width: $screen-xxs) {
        font-size: 0.9rem;
      }
    }
    &-plane {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(-50%, -50%);
      background: var(--color-bg);
      border-radius: 50%;
      padding: 12px 8px;
      z-index: 2;
      img {
        width: 90%;
        height: auto;
      }

      @media (max-width: $screen-xxs) {
        width: 40px;
        height: 40px;
      }
    }
    &-info {
      background: var(--color-gray);
      padding: 20px 16px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      &-progress-bar {
        display: flex;
        align-items: center;
        height: 20px;
        position: relative;

        &-plane {
          width: 24px;
          height: 23px;
        }
      }
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-text);

        @media (max-width: $screen-xxs) {
          font-size: 0.75rem;
        }
      }
    }
    &-time {
      &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &-cell {
        width: 49.5%;
        background: var(--color-gray);
        display: flex;
        align-items: center;
        padding: 16px 24px;

        @media (max-width: $screen-xs) {
          padding: 16px 10px;
        }

        @media (max-width: $screen-xxs) {
          font-size: 0.75rem;
        }

        &--bl {
          border-radius: 0 0 0 24px;
        }

        &--br {
          border-radius: 0 0 24px 0;
        }
      }
      &-label {
        width: 100px;
        color: #888;
      }

      &-value {
        color: var(--color-text);
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &-header {
      border-radius: 24px 24px 0 0;
      background: var(--color-gray);
      padding: 15px 16px;
      color: var(--color-text);
      font-size: 1.25rem;

      @media (max-width: $screen-xxs) {
        font-size: 1rem;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &-cell {
        width: 49.5%;
        background: var(--color-gray);
        color: var(--color-text);
        padding: 20px 16px;
        display: flex;
        align-items: center;

        @media (max-width: $screen-xs) {
          padding: 16px 5px;
        }

        @media (max-width: $screen-xxs) {
          font-size: 0.75rem;
        }

        &-label {
          color: #888;
          margin-right: 10px;
        }

        &--br {
          border-radius: 0 0 24px 0;
        }

        &--bl {
          border-radius: 0 0 0 24px;
        }
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
  }
  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    padding: 10px 0;
    background: var(--color-gray);
    color: var(--color-text);
    font-weight: 600;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    &:hover {
      background: var(--color-gray-dark);
    }

    img {
      width: 36px;
      height: 36px;
      margin-bottom: 8px;
    }

    &:hover &-text {
      color: var(--color-text-dark);
    }

    &--first {
      border-radius: 24px 0 0 24px;
    }
    &--last {
      border-radius: 0 24px 24px 0;
    }
  }
}
