:root {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: #fefefe;
  background-color: #fefefe;

  font-synthesis: none;
  font-optical-sizing: auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
